# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Data
data/raw/*
data/processed/*
data/images/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store
